:root {
    --primary-color: rgb(200, 231, 255);
    --secondary-color: rgb(204, 229, 145);
    --accent1-color: rgb(248, 236, 130);
    --accent2-color: #b34321;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto 0 auto;

}

header,
footer {
    background-color: var(--secondary-color);
    color: black;
    border: 5px double var(--accent2-color);
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

header img {
    width: 9rem;
    height: auto;
    background-color: white;
    border-radius: 1rem;
}

.headings {
    display: flex;
    flex-direction: column;
}

.motto {
    font-style: italic;
    color: black;
    font-size: 1.5rem;
    letter-spacing: 1.5pt;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    padding-left: 4rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

li {
    width: 20%;
    float: left;
    margin: 2.5%;
}

h2 {
    font-size: 2rem;
    color: var(--accent2-color);
    text-align: center;
    font-style: italic;
}

p {
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
}

main img {
    border: 3px solid var(--accent1-color);
    box-shadow: 0 0 10px black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.social {
    padding-left: 7rem;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



  @media screen and (max-width: 550px) {
    .home-grid {
      display: block;
    }
  }