
body {
    background-color: #f0ed91;
    padding: 0;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Header and Footer CSS*/

header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto 0 auto;

}

header,
footer {
    background-color: #ff4949;
    color: black;
    border: 8px double #6b512d;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    border-radius: 10px;
    border-style: solid;
    border-color: #50a038;
}

main img {
    border: 5px solid #6b512d;
    box-shadow: 0 0 20px black;
    width: 100%;
}

h1 {
    font-size: 4rem;
    padding-left: 4rem;
    text-align: center;
}

.motto {
    font-style: italic;
    color: black;
    font-size: 2rem;
    letter-spacing: 1.5pt;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: .5rem;
    overflow: hidden;
    background-color: #eea051;
    font-size: 1.5rem;
    font-weight: bolder;
    border-style: outset;
    border-color: #6b512d;
    border-bottom-style: none;
  }
  
.nav-li {
    float: left;
  }
  
.nav-li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-li a:hover {
    background-color: #f0ed91;
  }

  .active {
    background-color: #50a038;
  }

.social {
    padding-left: 7rem;
}

.site {
    color: black;
}

/*Main Part of CSS*/

h2 {
    font-size: 3rem;
    color: #50a038;
    text-align: center;
    font-style: italic;
}

h3 {
    font-size: 2rem;
    color: #6b512d;
    border-style: solid none;
    padding: 0;
}

h4 {
    font-size: 1.5rem;
    padding-left: 5rem;
}

p {
    font-size: 1.2rem;
}

.directions {
    padding-left: 5rem;
}

.submit {
    padding-left: 5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 5rem;
    font-size: 1.2rem;
  }

/* Home CSS Grid*/

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-right: 10px;
}

.mission-head {
    grid-column: 1/5;
    grid-row: 1;
}

.mission-para {
    grid-column: 1/4;
    grid-row: 2/6;
}

.demo-head {
    grid-column: 5/9;
    grid-row: 1;
}

.demo-para {
    grid-column: 5/8;
    grid-row: 2/6;
}

.time-head {
    grid-column: 9/13;
    grid-row: 1;
}

.time-para {
    grid-column: 9/12;
    grid-row: 2/6;
}

/* Child Pages CSS*/

  .recipe-img {
      width: 300px;
      height: 200px;
      float: right;
  }