:root {
    --primary-color: #ff6262;
    --secondary-color: #eea051;
    --accent1-color: #eeea80;
    --accent2-color: #5cb143;
    --accent3-color: #815c29;
    --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--accent1-color);
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto 0 auto;

}

header,
footer {
    background-color: var(--primary-color);
    color: black;
    border: 5px double var(--accent3-color);
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    padding-left: 4rem;
    text-align: center;
}

.motto {
    font-style: italic;
    color: black;
    font-size: 1.5rem;
    letter-spacing: 1.5pt;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

li {
    width: 20%;
    margin: 2.5%;
    color: black;
}

a:hover {
    color: rgba(230, 5, 173, 0.836);
  }

a {
    color: var(--accent3-color);
    background-color: var(--secondary-color);
}

.social {
    padding-left: 7rem;
}

h2 {
    font-size: 2rem;
    color: var(--accent2-color);
    text-align: center;
    font-style: italic;
}

h3 {
    font-size: 1.5rem;
    color: var(--accent3-color);
}

p {
    font-size: 1.2rem;
}

